.square{
    background-color: #EEEED2;
    width: 70px;
    height: 70px;
}

.dad-container{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 5rem;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 560px;
    width: 560px;
    border: black solid 2px;
    border-radius: 2%;
    overflow: hidden;
}

.files:nth-of-type(odd) .square:nth-of-type(even){
    background-color: #779556;
}
.files:nth-of-type(even) .square:nth-of-type(odd){
    background-color: #779556;
}

img{
    width: 100%;
}

